 body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #555555;
        background-color: yellowgreen;
 }
li {
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
    }
    a {color: maroon;
    text-decoration: none;}
    a:hover {text-decoration: underline;}
    a:visited {color: blue;}
    .resumeListHeading {
            font-weight: bold;
            font-style: normal;
    }
    .underline {text-decoration: underline;}
    .bold {font-weight: bold;}
    .justify {text-align: justify;}

    .homebg {
        background-image: url('../Images/BackgroundImg.avif');
        background-position: center;
        background-size:contain;
        /* background-repeat: ; */
    }